.remote {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fffeec;
}

.container {
    flex-direction: column;
}

.container h2 {
    background-color: #c4c4c4;
}

.container div {
    background-color: #929094;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}