.button {
    display: inline-block;
    padding: 1.2em 1.4em;
    margin-top: 0.8em;
    background-color: rgb(51, 51, 51);
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 40px;
    text-decoration: none;
    touch-action: manipulation;
    font-family: 'Poppins-Bold', 'Helvetica', 'Arial', 'sans-serif';
}

.button:hover {
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 82%);
}