.contactsBlock {
    background-color: #fde0e0;
}

.contactsContainer {
    flex-direction: column;
}

.contactsContainer h2 {
    background-color: #c4c4c4;
}


.contacts {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.contacts input {
    margin-bottom: 5px;
}

.contacts textarea {
    height: 100px;
}

.button {
    background-color: #929094;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 30px;
}