::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 10px 10px 200px rgb(226 42 108);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(248 248 248);
}