$accentColor: #e22a6c;
$bgColor: #f8f8f8;
$primaryColor: #fff;
$secondaryColor: #333;
$textColor: #444;

// accent color variants:
// #412F59 #3D7340 #636573 #67733D #370459 #490A73 #493159 #09735F #F22E3E #0583F2
// #0597F2 #29A65F

/* Color Theme Swatches in Hex */
//.Bar-Bosch,-menu-design-1-hex { color: #2651A6; }
//.Bar-Bosch,-menu-design-2-hex { color: #4968A6; }
//.Bar-Bosch,-menu-design-3-hex { color: #8095BF; }
//.Bar-Bosch,-menu-design-4-hex { color: #B4C0D9; }
//.Bar-Bosch,-menu-design-5-hex { color: #F2F2F2; }

// ------ Menu colors -------

$hoverColor: #1a0a07;
$menuColor1: #901b45;
$menuColor2: #a51f4f;
$menuColor3: #b92359;
$menuColor4: #ce2763;
